<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDeliverySystem"
        tools:targetApi="31">
        <activity
            android:name=".RestoranSiparisler"
            android:exported="false" />
        <activity
            android:name=".MusteriSiparisler"
            android:exported="false" />
        <activity
            android:name=".MusteriSepet"
            android:exported="false" />
        <activity
            android:name=".MusteriRestoranMenu"
            android:exported="false" />
        <activity
            android:name=".AdminKurye"
            android:exported="false" />
        <activity
            android:name=".AdminMusteriler"
            android:exported="false" />
        <activity
            android:name=".MusteriRestoranlar"
            android:exported="false" />
        <activity
            android:name=".AdminPanel"
            android:exported="false" />
        <activity
            android:name=".RestoranAnaSayfa"
            android:exported="false" />
        <activity
            android:name=".RestoranMenu"
            android:exported="false" />
        <activity
            android:name=".MusteriFiltre"
            android:exported="false" />
        <activity
            android:name=".MusteriAnaSayfa"
            android:exported="false" />
        <activity
            android:name=".KuryeKayit"
            android:exported="false" />
        <activity
            android:name=".RestoranKayit"
            android:exported="false" />
        <activity
            android:name=".UyeOl"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>